.frontpage{
	display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 70% 10%;
	width: 100vw;
	height: 96vh;
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.createNewClass {
	display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
	width: 50vw;
	height: 100%;
}

.summaryClass {
	display: grid;
	grid-template-columns: 100%;
    grid-template-rows: 16% 84%;
	width: 50vw;
	height: 100%;
}

.App-footer{
  background-color: #282c34;
  min-height: 5%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  font-size: calc(12px);
  color: white;
  bottom: 0;  
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}


